<div class="row" id="nav_bar">
  <!-- LogoName -->
  <div class="col-lg-4">
     <h1 class="pull-left"><a href="http://localhost:3000/">The Rolling Story</a></h1>
  </div>


  <!--Search Bar -->
  <div class="col-lg-4">
    <div class="center-block">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Find a Story...">
        <span class="input-group-btn">
        <button class="btn btn-default" id="search_button" type="button"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
         </span>
      </div>
    </div>
  </div>

  <!--Logout & Settings-->
  <div class="col-lg-4">
    <h2 class="pull-right" id="button1">
      <a href="http://localhost:3000/" class="name">Username</a>
      <a href="http://localhost:3000/" class="dropdown">
         <span class="glyphicon glyphicon-cog" style="background:#329CA9" aria-hidden="true"></span>
      </a>
      <a href="http://localhost:3000/">
        <span class="glyphicon glyphicon-log-out" style="background:#329CA9" aria-hidden="true"></span>
      </a>
    </h2>
  </div>
</div>
