<div class='navbar navbar-default'>
  <div class='center'>
    <!-- LogoName -->
    <div class='navbar-item logoname'>
      <a class='logo nav-font' href='/'>Rolling Story</a>
    </div>

    <!--Search Bar -->
    <div class='navbar-item search-bar input-group'>
      <div class='input-group'>
        <input type='text' class='form-control' placeholder='Find a story...'>
        <span class='input-group-btn'>
        <button class='btn btn-default' id='search_button' type='button'> <span class='glyphicon glyphicon-search' aria-hidden='true'></span></button>
         </span>
      </div>
    </div>

    <!--Logout & Settings-->
    <div class='navbar-item nav-font logout-settings navigation'>
      <% if (startWriting) { %>
      <a href='/rooms/main' class='writing item'>Start writing</a>
      <% } %>
      <a href='/rooms/main' class='current item'>Current room</a>
      <% if (user) { %>
      <a href='/user/<%= id %> 'class='name item'><%= username %></a>
      <a href='/logout' class='login-choice item'>Sign out</a>
      <% } else { %>
      <a class='login-choice item signin'>Sign in/Sign up</a>
      <% } %>

    <!--Overlay #1-->
    <div class='overlay'>
      <span class='glyphicon glyphicon-remove pull-right' aria-hidden='true'></span>
    </div>
    <div class='modal' id='modal1'>
      <div class='row'>
        <h3 id='login_header'>Sign in or create an account</h3>
      </div>
        <div class="row" id="alignsignup_btn">
            <a href="/auth/facebook"><button class="btn btn-primary1 btn-lg raised signin-btn fa fa-facebook" type="button"><span class="b2">Sign in with Facebook</span></button></a>
        </div>

        <div class="row">
           <a href="/auth/google"> <button class="btn btn-primary2 btn-lg raised signin-btn fa fa-google-plus" id="b2" type="button"><span class="b2">Sign in with Google</span></button></a>
        </div>
        <div class="row">
      <h3 id="login_footer">Or with a username and password</h3>
        </div>
    </div>

    <!--Overlay #2-->
    <div class='modal' id="modal2">
      <div class="row">
            <h3 id="login_header">Sign in or create an account</h3>
      </div>
     <form action='/find' method='post'>
                <div class="align-btn" class='form-group'>
                    <input id="us" placeholder="Username" type='text' class='form-control' name='username'>
                </div>
                <div class="align-btn" class='form-group'>
                    <input id="pass" placeholder="Password" type='password' class='form-control' name='password'>
                </div>

                <a href="/find"><button type='submit' class="btn btn-primary btn-lg raised signin-btn btn2 fa lg">Sign in</button></a>
                <a href="/find"><button type='submit' class="btn btn-primary btn-lg raised signin-btn btn2 fa sp">Sign up</button></a>
            </form>
     </div>
    </div>
  </div>
</div>
