<!DOCTYPE html>
<html>

  <head>
    <%- include partials/meta.ejs %>
    <script src='/javascripts/navbar.js'></script>
    <link rel='stylesheet' href='/stylesheets/errorpage.css'/>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>

  </head>

  <body>
    <%- include partials/navbar.ejs %>
    <div class="jumbotron">
      <div class="container">
        <div class='blurb'>
          <h1>Sorry, this page doesn't exist...</h1>
          <p>click <a href="/">here</a> to head back to the homepage :) </p>
        </div>
        <div id='img3'></div>

      </div>
    </div>
  </body>

</html>