<!doctype html>
<html>
  <head>
    <%- include partials/meta.ejs %>
    <link rel="stylesheet" href="stylesheets/find.css">
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>
    <script type="text/javascript" src="javascripts/navbar.js"></script>
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <script type="text/javascript" src="javascripts/find.js"></script>
  </head>

  <body>
    <%- include partials/navbar.ejs %>
  <div class="autoplay">
    <a href="/rooms/main"><div class="placeholder_image img1">room #1</div></a>
    <a href="/rooms/main"><div class="placeholder_image img2">room #2</div></a>
    <a href="/rooms/main"><div class="placeholder_image img3">room #3</div></a>
    <a href="/rooms/main"><div class="placeholder_image img4">room #4</div></a>
  </div>
    
    <!--Room Buttons-->
    <div class="room_buttons">
        <button class="btn btn-primary btn-lg raised" id="button_one" type="button">Random Room</button>
        <button class="btn btn-primary btn-lg raised" id="button_one" type="button">Custom Room</button>
    </div>
    <!--Active Friends Row-->
    <h3>Browse Users: <%= users.length %></h3>
    <div class="row friends">
      <div class="col-lg-3 one"></div>

      <div class="col-lg-3 two"></div>

      <div class="col-lg-3 three"></div>

      <div class="col-lg-3 four"></div>
    </div>

    

    <script type="text/javascript" src="/slick/slick.min.js"></script>
  </body>
</html>
