<!doctype html>
<html>
  <head>
    <%- include partials/meta.ejs %>
    <link rel="stylesheet" href="stylesheets/find.css">
    <script type="text/javascript" src="javascripts/find.js"></script>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>
    <script type="text/javascript" src="javascripts/navbar.js"></script>
  </head>

  <body>
    <%- include partials/navbar.ejs %>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>
    <!--Room Buttons-->
    <div class="room_buttons">
        <button id="button_one" type="button">Random Room</button>
        <button id="button_one" type="button">Custom Room</button>
    </div>
    <!--Active Friends Row-->
    <h3>Active Friends</h3>
    <div class="row friends">
      <div class="col-lg-3">
        <div class="block1"></div>
      </div>
      <div class="col-lg-3">
        <div class="block2"></div>
      </div>
      <div class="col-lg-3">
        <div class="block3"></div>
      </div>
      <div class="col-lg-3">
        <div class="block4"></div>
      </div>
    </div>

  </body>
</html>
