<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Find</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--css styling-->
    <link rel="stylesheet" href="stylesheets/find.css">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--client-side javascript-->
    <script type="text/javascript" src="javascript/find.js"></script>
    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <!-- NavBar -->
    <%- include partials/navbar.ejs %>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>
    <!--Room Buttons-->
    <div class="room_buttons">
        <button id="button_one" type="button">Random Room</button>
        <button id="button_one" type="button">Custom Room</button>
    </div>
    <!--Active Friends Row-->
    <h3>Active Friends</h3>
    <div class="row friends">
      <div class="col-lg-3">
        <div class="block1"></div>
      </div>
      <div class="col-lg-3">
        <div class="block2"></div>
      </div>
      <div class="col-lg-3">
        <div class="block3"></div>
      </div>
      <div class="col-lg-3">
        <div class="block4"></div>
      </div>
    </div>

  </body>
</html>
