<!DOCTYPE html>
<html>

  <head>
    <%- include partials/meta.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='Carousel-jQuery' href='/javascripts/Carousel_jQuery' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <script type="text/javascript" src="javascripts/navbar.js"></script>
    <script type="text/javascript" src="javascripts/landing.js"></script>
  </head>

  <body>

    <%- include partials/navbar.ejs %>

    <!--Brief Info
    <div class="Info">
      <p>Start creating stories
        with your friends,<br> make new ones,
        <br>and share your creations with the world!<br>
      </p>
    </div>-->
    <div class="jumbotron">
      <div class="container">
        <div class='blurb'>
          <!--<h1>Humans write stories</h1>-->
          <!--<h1>HUMANS WRITE STORIES</h1>-->
          <h1>Stories are like a ball of yarn.</h1>
          <!--<p class='not-just'>(Not just writers.)</p>-->
          <p class='description'>Have fun weaving them with others and share your stories with the world. <br> With Yarn, join a community of people writing beautiful, collaborative stories.</p>
          <!--<p>A ball of yarn. Have fun weaving them with others,<br> form tight-knit friendships, and spin your story to the world!</p>-->
        </div>

        <div class="btn_position">
          <a href="/rooms/main"><button class="home-action btn btn-primary btn-lg raised get_started" type="button">Get Started</button></a>
          <button class="home-action btn btn-primary btn-lg raised learn_more" type="button">Learn More</button>
        </div>
      </div>
    </div>

    <div class="responsive-layer">
      <div class='container-fluid'>
        <div class="row">
          <div class='col-md-4'>
            <div class="panel-body">
              <div id="img1" ></div>
              <h3>Spool your creativity</h3>
              <p>Got a story in you? Choose a genre to join a creative space with writers interested in the same ideas. </p>
            </div>
          </div>
          <div class='col-md-4'>
            <div class="panel-body">
              <div id="img2"></div>
              <h3>Weave imaginations together</h3>
              <p>Each story has a set number of writers making submissions in turns. Once it's your turn, you'll have a set amount of time to add your contribution.</p>
              <!--<p>Once everyone is in, someone is chosen at random to start and each person takes turns adding to the current story. You can skip a turn if you like. The story ends after a certain number of turns which you decide when you spool.</p>-->
            </div>
          </div>
          <div class='col-md-4'>
            <div class="panel-body">
              <div id="img3"></div>
              <h3>Publish new stories</h3>
              <!--<p>You and your (new) friends have just weaved a captivating story? Spin it to the world through Facebook or Google+!</p>-->
              <p>Each story is published after a certain number of turns. Go show off those collaborative creations!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="made-by">
    <span>Made with ♥ by Team RHK for MIT's 6.148 web programming competition
  </div>

  </body>
</html>
