<!DOCTYPE html>
<html>

  <head>
    <%- include partials/meta.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='Carousel-jQuery' href='/javascripts/Carousel_jQuery' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <script type="text/javascript" src="javascripts/navbar.js"></script>
    <script type="text/javascript" src="javascripts/landing.js"></script>
  </head>

  <body>

    <%- include partials/navbar.ejs %>

    <!--Brief Info
    <div class="Info">
      <p>Start creating stories
        with your friends,<br> make new ones,
        <br>and share your creations with the world!<br>
      </p>
    </div>-->
    <div class="jumbotron">
      <div class="container">
        <div class='blurb'>
          <h1>Stories are like...</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint blanditiis perspiciatis nesciunt possimus minus molestiae culpa necessitatibus atque ut eveniet id magnam delectus reprehenderit! Ad atque aperiam rerum quas vitae!</p>
        </div>

        <div class="btn_position">
          <a href="/rooms/main"><button class="btn btn-primary btn-lg raised get_started" type="button">Get Started</button></a>
          <button class="btn btn-primary btn-lg raised learn_more" type="button">Learn More</button>
        </div>  
      </div>
    </div>

    <div class="responsive-layer">
      <div class="row">
        <div class='col-md-4'>
          <div class="panel-body">
            <div class="image">artwork</div>
            <h4>Create A Thread</h4>
            <p>Laborum nam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="panel-body">
            <div class="image">artwork</div>
            <h4>Collaborate</h4>
            <p>Dolorem non quo laudantium doloremque necessitatibus deserunt sed vero officiis iste asperiores quasi quae nisi ab debitis dignissimos delectus cum repellat quidem.</p>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="panel-body">
            <div class="image">artwork</div>
            <h4>Share Story</h4>
            <p>Modi a deserunt nostrum eos magni porro vel error dolore cupiditate iure sint fugiat rerum accusamus voluptates tenetur doloremque debitis ad reprehenderit?</p>
          </div>
        </div>
      </div>
    </div>

  
  <div class="Copyright">
    <p>©2016 Rolling Story RHK Inc</p>
  </div>

  </body>
</html>
