<!DOCTYPE html>
<html>

  <head>
    <%- include partials/meta.ejs %>
    <script src='/javascripts/textarea_autosize.js'></script>  
    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascripts/room.js'></script>
    <script src='/javascripts/navbar.js'></script>
    <link rel='stylesheet' href='/stylesheets/room.css'/>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>

  </head>

  <body>
    <%- include partials/navbar.ejs %>
    <div class='room-container'>
      <div class='story-container'>
        <div class='main-story'>
          <div class='contribution empty'>
            <div class='contribution-username'></div>
            <div class='contribution-text'></div>
          </div>
          <% for (var idx = 0; idx < contributions.length; idx++) { %>
          <div class='contribution'>
            <div class='contribution-username'><%= contributions[idx].username %></div>
            <div class='contribution-text'><%= contributions[idx].text %></div>
          </div>
          <% } %>
        </div>
        <% if (userTurn) { %>
        <div class='visible-on-turn user-additions'>
          <div class='additions-meta'>
            <div class='additions-meta-timer'>0:16</div>
            <button class='additions-meta-skip' type='button'>Skip</button>
            <button class='additions-meta-submit' type='button'>Submit</button>
          </div>
          <div class='additions-main'>
            <textarea class='user-addition-input' placeholder='Add your contribution here...'></textarea>
          </div>
        </div>
        <% } %>
      </div>

      <div class='meta-container'>
        <button class='join-room btn btn-primary1 btn-lg raised' type='button'>Join story</button>
        <button class='leave-room btn btn-primary1 btn-lg raised' type='button'>Leave story</button>
      </div>
    </div>
  </body>

</html>
