<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class='room-container'>
      <div class='story-container'>
        <div class='main-story'>
          <div class='story-text'><%= storyText %></div>
          <div class='contribution-tags'>
          </div>
        </div>
        <% if (userTurn) { %>
          <div class='user-additions'>
          </div>
        <% } %>
      </div>

      <div class='meta-container'>
      </div>
    </div>

  </body>

</html>
