<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class='room-container'>
      <div class='story-container'>
        <div class='main-story'>
          <% for (var idx = 0; idx < contributions.length; idx++) { %>
          <div class='contribution'>
            <div class='contribution-username'><%= contributions[idx].user %></div>
            <div class='contribution-text'><%= contributions[idx].text %></div>
          </div>
          <% } %>
        </div>
        <% if (userTurn) { %>
        <div class='user-additions'>
        </div>
        <% } %>
      </div>

      <div class='meta-container'>
      </div>
    </div>

  </body>

</html>
