<!DOCTYPE html>
<html>

  <head>
    <%- include partials/meta.ejs %>
    <script src='/javascripts/navbar.js'></script>
    <link rel='stylesheet' href='/stylesheets/story.css'/>
    <link rel='stylesheet' href='/stylesheets/navbar.css'/>
  </head>

  <body>
    <%- include partials/navbar.ejs %>
    <div class='story-container'><%= storyText %></div>
  </body>

</html>
