<!DOCTYPE html>
<html>
<head>
  <%- include partials/meta.ejs %>
  <link rel='stylesheet' href='/stylesheets/navbar.css'/>
  <link rel='stylesheet' type='text/css' href='/stylesheets/userPage.css' />
   <script src='/javascripts/userPage.js'>
   </script>
  <script type="text/javascript" src="javascripts/navbar.js"></script>
</head>
  <body>  
  <%- include partials/navbar.ejs %>

    <div id='container'>
      <div class='leftside'>
        <div class='uploadPic'>
          <form action='upload.php' method='post' enctype='multipart/form-data'>
            Upload A Picture:
            <input type='file' name='fileToUpload' id='fileToUpload'>
            <input type='submit' value='Upload Image' name='submit'>
          </form>
        </div>

        <div class='accInfo'>
          <h1>Account Information</h1>
          <ul>
            <li>Joined: January 2016</li>
            <li>Published Articles: 2</li>
            <li>Friends: 3</li>
            <li>Hearts: 3</li>
          </ul>
        </div>
      </div>

      <div class="tabs">
          <ul class="tab-links">
                  <li class="active"><a href="#tab1">Published</a></li>
                  <li><a href="#tab2">Hearts</a></li>
                  <li><a href="#tab3">Recent</a></li>
                  <li><a href="#tab4">Friends</a></li>
              </ul>
           
              <div class="tab-content">
                  <div id="tab1" class="tab active">
                      <p>Tab #1 content goes here!</p>
                      <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis.</p>
                  </div>
           
                  <div id="tab2" class="tab">
                      <p>Tab #2 content goes here!</p>
                      <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
                  </div>
           
                  <div id="tab3" class="tab">
                      <p>Tab #3 content goes here!</p>
                      <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
                  </div>
           
                  <div id="tab4" class="tab">
                      <p>Tab #4 content goes here!</p>
                      <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
                  </div>
              </div>
        </div>
  </body>
</html>