<div class='navbar'>
  <div class='center'>
    <!-- LogoName -->
    <div class='navbar-item logoname'>
      <a class='logo nav-font' href='/'>Rolling Story</a>
    </div>

   
    <!--Logout -->
    <div class='Logout'>
      <a href='/logout' class='login-choice item'>Sign out</a>
    </div>

    <!--UserName-->
    <div class="Username">
      <p>UserName</p>
    </div>  
  </div>
</div>


<div class='leftbar'>
  div class='UploadPic'
  <form action='upload.php' method='post' enctype='multipart/form-data'> 
    Upload A Picture:
    <input type='file' name='fileToUpload' id='fileToUpload'>
    <input type='submit' value='Upload Image' name='submit'>
  </form>
