@font-face { font-family: Circular; src: url('../CircularStd-Book.otf'); }
body{
  font-family: Circular;
}


/*jumbotron*/
.autoplay{
  border:none;
  position: relative;
  margin-top:65px;
  height: 300px;
  width: 100%;
  height: auto;
}

.col-lg-3{
  color:black;
  text-decoration: none;
}

.placeholder_image{
  color: white;
  text-align: center;
  line-height: 300px;
      width: 100%;
    padding:0px;
    background-size: cover;
    height: 0;
    padding: 0; /* reset */
    padding-bottom: 80%;
    z-index: -10px;
}
a:hover{
  text-decoration: none;
}
.slick-slide:focus {
  outline: none;
}


.img1{
  background-image:url("../siteArt/horror.svg");
}
.img2{
  background-image:url("../siteArt/comedy.svg");
}
.img3{
  background-image:url("../siteArt/sciFi.svg");
}
.img4{
  background-image:url("../siteArt/Mystery.svg");
}

.titles {
  z-index: 0px;
  /*font-family: 'Amatic SC';*/
  /*font-size: 45px;*/
  font-family: 'Circular';
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}


/*room buttons*/
.container-fluid {
  margin: 0px;
  padding: 0px;
}
.room_buttons {
  width: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.room_buttons * {
  display: inline-block;
  width: auto;
  font-size: 21px;
}
.users-container {
  display: inline-block;
  float: left;
  width: 47%;
}
.stories-container {
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  width: 47%
}
.stories-panel .badge {
  margin-left: 7px;
}
.stories-panel {
  border: none;
}

.browse-item {
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

.name{
  margin-top:100px;
}

.block1{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    color:black;
    font-size: 1.4em;
    text-align: center;
}

.block1:hover{
  color: #ff7583;
}


.btn-lg {
  font-size: 15px;
  line-height: 1.33;
  border-radius: 6px;
  z-index: 11
}

.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #e00007;
}
.btn-primary.raised:active, .btn-primary1.raised.active {
    background: #ff5a5f;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
