html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body{
    font-family:'Arial';
    font-size:20px;
}

/*navbar filling*/
#nav_bar{
    text-decoration: none; /*no underline*/
    display: inline-block; /*coexist on the same line as other elements*/
    width: 100%; /*navbar fills width of page*/
    background: #329CA9;/*navbar is a teal-ish color*/
    position: absolute; /*positioned relative to its first position ancestor*/
    height:50px; /*height of element on page*/
    margin: auto; /*center element within parent (the document in this case)*/ 
    z-index: 0;

}
/*logo*/
h1 a {
    text-decoration: none;/*no underline*/
    position: relative;/*positioned relative to its normal position*/
    display: inline-block; /*coexist on the same line as other elements*/
    color: white;
    border: none;
    top:-20px;
    font: 40px 'Amatic SC';
}

h1 a:hover {
    color: #ff5a5f;
    text-decoration: none;
    transition: all 0.3s ease 0.1s;
}
/*search*/
.form-control{
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: #565a5c;
}

.center_block{
    position: relative; /*relative to original position*/
    text-decoration: none; /*no underline*/
    margin:auto; /*center element within parent (the document in this case)*/
    display: inline-block; /*coexist on the same line as other elements*/
    
    color:white;
    z-index: 0;
}

.input-group{
    margin-top: 8px;

}

#search_button{
    border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;
}

/*settings and other stuff*/
h2{
    margin-top: 6px;
}

h2 a{
    position: relative;
    text-decoration: none;
    margin:0px 40px 0px 0px;
    display: inline-block;
    font-size: 17px;
    color:white;
  }

.name{
     font-family: "HelveticaNeue-Light";
     font-size: 15px;
}

h2 a:hover {
    color: #ff5a5f;
    text-decoration: none;
    transition: all 0.3s ease 0.1s;
}

/*jumbotron*/
.jumbotron {
  background-image: url("http://cdn.playbuzz.com/cdn/5a2b724b-1813-43ab-8f2d-ddee5e459dc6/0098192f-61cc-4c7c-8152-d55b81d13b93.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:200px;
}


/*room buttons*/
.room_buttons{
    position: relative;/*relative to original position*/
    margin: 0px auto;
    width: 380px;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


#button_one{

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border-color: #ff5a5f;
    border-bottom-color: #e00007;
    background-color: #ff5a5f;
    color: #fff;

    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    width: 150px;
    height: 40px;
    margin-right: 30px;
}

h3{
    position:relative;
    text-decoration: underline;
    font-family: "HelveticaNeue-Light";
    font-size: 25px;
    margin: 0px 0px 0px 40px;
}

.block1{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    background-color: #66B2FF;
}

.block2{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    background-color: #FFFF80;
}

.block3{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    background-color: #E12939;
}

.block4{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    background-color: #B9F5CA;
}
 