@font-face { font-family: Circular; src: url('../CircularStd-Book.otf'); }
body{
  font-family: Circular;
}


/*jumbotron*/
.autoplay{
  position: relative;
  margin-top:66px;
  height: 300px;
  width: 100%;
  height: auto;
}

.placeholder_image{
  color: black;
  text-align: center;
  line-height: 200px;
  font-family: 'Amatic SC';
  font-size: 45px;
  font-weight: bold;
}
a:hover{
  text-decoration: none;
}
.slick-slide {
  outline: none;
}

/*.img1{*/
  /*background-color:#ee4035;*/
/*}*/
/*.img2{*/
  /*background-color:#f37736;*/
/*}*/
/*.img3{*/
  /*background-color:#fdf498;*/
/*}*/
/*.img4{*/
  /*background-color:#0392cf;*/
/*}*/

/*room buttons*/
.container-fluid {
  margin: 0px;
  padding: 0px;
}
.room_buttons{
    position: relative;/*relative to original position*/
    margin: 0px auto;
    width: 380px;
    /*width: 100%;*/
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


#button_one{
    width: 150px;
    height: 40px;
    margin-right: 30px;
}

h3{
    position:relative;
    text-decoration: none;
    font-size: 25px;
    margin: 0px 0px 0px 40px;
}

.block1{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    background-color: #66B2FF;
}

.block2{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    background-color: #FFFF80;
}

.block3{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    background-color: #E12939;
}

.block4{
    position: relative;
    margin: 20px 0px 100px 40px;
    height: 150px;
    width: 150px;
    background-color: #B9F5CA;
}
.btn-lg {
  font-size: 15px;
  line-height: 1.33;
  border-radius: 6px;
  z-index: 11
}

.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #e00007;
}
.btn-primary.raised:active, .btn-primary1.raised.active {
    background: #ff5a5f;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
