.btn-primary {
  transition: background-color 0.3s ease;
}
button:focus , button:active {
  outline: 0 !important;
  border: none;
}
div {
  transition: color 0.3s ease;
}
.panel-default a {
  color: #329ca9;
  transition: color 0.3s ease;
}
.panel-default a:hover {
  color: gray;
}
