@font-face { font-family: Circular; src: url('../CircularStd-Book.otf'); }
body{
  font-family: Circular;
  margin: 0px;
  padding: 0px;
}
/*navbar filling*/
.navbar-default{
  border-color: #329ca9;
  border:none;
}
.navbar {
  height: auto;
  width: 100%; /*navbar fills width of page*/
  border-radius: 0px;
  background-color: #329ca9;
  z-index: 1;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  border-width: 0;
}
.navbar * {
  text-decoration: none; /*no underline*/
}
.navbar {
  display: table;
  margin: auto;
}
.nav-font {
  font-weight: bold;
  font-family: 'Amatic SC', 'HelveticaNeue-Light';
  font-size: 30px;
}
.navbar-item {
  display: inline-block;
  white-space: nowrap;
  margin: 0px 25px 9px 18px;
}
.logoname {
  margin-left: 29px;
  margin-bottom: 0px;
}
.yarn-logo {
  cursor: pointer;
  vertical-align: top;
  height: auto;
  width: auto;
  max-width: 50px;
  margin: 2px 6px 3px 0px;
}
.logo {
  display: inline-block;
  text-decoration: none;/*no underline*/
  position: relative;/*positioned relative to its normal position*/
  color: white;
  border: none;
  font-size: 42px;
  z-index: 1;
}
.logo:hover {
  text-decoration: none;
  color: #ff7583;
  text-decoration: none;
  transition: all 0.3s ease 0.1s;
}
.logo:active {
  text-decoration: none;
}
/*search*/
.search-bar {
  width: 100%;
  top: 3px;
  display: table-cell;
  font-size: 30px;
}
.form-control{
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  color: #565a5c;
}
.input-group {
  width: 100%;
}

#search_button{
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
}

/*settings and other stuff*/
.navigation {
  margin-left: 20px;
  position: relative;
  top: 10px;

}
.navigation .item {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: white;
  margin:0px 7px 16px 7px;
  letter-spacing: -2px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Circular';
  }
.navigation .item:hover {
  color: #ff7583;
  text-decoration: none;
  transition: all 0.3s ease 0.1s;
}



/*overlay for login*/
.glyphicon-remove {
    z-index: 15;
    margin: 20px 20px 0px 0px;
    color:rgba(0,0,0,0.6);
}
.glyphicon-remove:hover {
    color:black;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.90);
}

.modal {
    font-family:Circular;
    top: 21%;
    left: 0;
    right: 0;
    display: block;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1 higher than the overlay layer */
}
.modal {
  display: inline-block;
}
#login_header{
  font-family:Circular;
  color:rgba(0,0,0,0.6);
  font-size:18px;
  z-index: 11
}
#login_footer{
  cursor: pointer;
  font-family:Circular;
  text-align: center;
  font-size:15px;
  color: #329ca9;
  z-index: 11;
  transition: color 0.3s ease;
}
#login_footer:hover {
  color: gray;
}

.signin-btn{
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  width: 200px;
  height: auto;
  z-index: 11
}

.modal .btn2{
  width:100px;
  font-family: Circular;

}
.modal .btn-lg {
  font-size: 15px;
  line-height: 1.33;
  border-radius: 6px;
  z-index: 11
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff7583;
  border-color: #ff7583;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #CC5D68;
}
.btn-primary.raised:active, .btn-primary1.raised.active {
    background: #ff7583;
    box-shadow: none;
    /*margin-bottom: -3px;*/
    /*margin-top: 3px;*/
}

.modal .btn-primary1 {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998;
}
.btn-primary1:hover,.btn-primary1:focus,.btn-primary1:active,.btn-primary1.active,
.open .dropdown-toggle.btn-primary1 {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998;
}
.btn-primary1.raised {
    box-shadow: 0 3px 0 0 #293e6a;
}
.btn-primary1.raised:active, .btn-primary1.raised.active {
    background: #3B5998;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.modal .btn-primary2 {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}
.btn-primary2:hover,.btn-primary2:focus,.btn-primary2:active,.btn-primary2.active,
.open .dropdown-toggle.btn-primary2 {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}

.btn-primary2.raised {
    box-shadow: 0 3px 0 0 #2e5daa;
}
.btn-primary2.raised:active, .btn-primary2.raised.active {
    /*background: #4285f4;*/
    box-shadow: none;
    /*margin-bottom: -3px;*/
    /*margin-top: 3px;*/
}

/*overlay for signup/signin*/
.glyphicon-remove {
    z-index: 15;
    margin: 20px 20px 0px 0px;
    color:rgba(0,0,0,0.6);
}
.glyphicon-remove:hover {
    color:black;
}
.align-btn{
    width: 300px;
    margin: 10px auto;
}
.b2{
  font-family: Circular;
}

.fa-facebook:before {
    content: "\f09a";
    padding-right: 8px;
}
.fa-google-plus:before {
    padding-right: 6px;
}
.fa-google-plus {
  border: none;
  outline: none;
  background-color: #4285f4;
  transition: background-color 0.3s ease;
}
.fa-google-plus:hover , .fa-google-plus:active {
  background-color: #498efc;
}
