/* Room page */
html {
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 90px;
}
.meta-background {
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  left: 60%;
  background-color: #f1f1f1;
  z-index: -1;
}
.room-container {
  padding-top: 100px;
  padding-bottom: 50px;
}
.user-addition-input {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  width: 100%;
  height: 120px;
  vertical-align: bottom;
  outline: none;
  resize: none;
  padding: 10px;
  border: none;
  background: #f1f1f1;
}
.additions-meta * {
  margin: 0px auto 4px auto;
  display: block;
  text-align: center;
}
.additions-meta-timer {
  font-size: 23px;
}
.additions-main {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.additions-meta {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.user-additions {
  width: 100%;
}

.meta-container {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: top;
  width: 39%;
}
.meta-item, .meta-container > * {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.meta-prompt {
  text-align: center;
  margin-bottom: 30px;
}
.remaining-turns {
  margin-top: 30px;
}
.turn-prompt, .remaining-turns > * {
  font-size: 23px;
}
.story-container {
  display: inline-block;
  padding-left: 20px;
  width: 60%;
}
.contribution:not(.empty) {
  margin-bottom: 20px;
}
.contribution-username {
  overflow: hidden;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.contribution-text {
  width: 75%;
  display: inline-block;
  white-space: pre-wrap;
}
.empty {
  display: none;
}
