/* Room page */
html {
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 90px;
}
.meta-background {
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  left: 60%;
  background-color: #f1f1f1;
  z-index: -1;
}
.room-container {
  padding-top: 100px;
  padding-bottom: 50px;
}
.room-container a {
  text-decoration: none;
}
.user-addition-input {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  width: 100%;
  height: 120px;
  vertical-align: bottom;
  outline: none;
  resize: none;
  padding: 10px;
  border: none;
  background: #f1f1f1;
}
.additions-meta * {
  margin: 0px auto 4px auto;
  display: block;
  text-align: center;
}
.additions-meta-timer {
  font-size: 23px;
}
.additions-main {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.additions-meta {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.user-additions {
  width: 100%;
}

.meta-container {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: top;
  width: 39%;
}
.meta-item, .meta-container > * {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.meta-prompt {
  text-align: center;
  margin-bottom: 30px;
}
.new-story-prompt > * {
  margin: 5px auto;
  transition: color 0.3s ease;
}
.meta-prompt-no-contributions {
  color: gray;
}
.meta-prompt-join, .meta-prompt-signup {
  color: #329ca9;
  cursor: pointer;
}
.meta-prompt-join:hover , .meta-prompt-signup:hover {
  color: gray;
}
.remaining-turns {
  margin-top: 30px;
}
.turn-prompt, .remaining-turns > * {
  font-size: 23px;
}
.story-container {
  display: inline-block;
  padding-left: 20px;
  width: 60%;
}
.contribution:not(.empty) {
  margin-bottom: 20px;
}
.contribution-username {
  overflow: hidden;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.contribution-text {
  max-width: 900px;
  word-wrap: break-word;
  width: 75%;
  display: inline-block;
  white-space: pre-wrap;
}
.empty {
  display: none;
}


.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #e00007;
}
.btn-primary.raised:active, .btn-primary1.raised.active {
    background: #ff5a5f;
    box-shadow: none;
    /*margin-bottom: -3px;*/
    /*margin-top: 3px;*/
}
