@font-face { font-family: Circular; src: url('../CircularStd-Book.otf'); } 
body{
  font-family: Circular;
}

.image{
  position: relative;
  margin: auto;
  height: 150px;
  width: 150px;
  background-color:   #ffcc5c;
}

#img1{
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  background-image: url("../siteArt/Spool200.jpg");
}

#img2{
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  background-image: url("../siteArt/Weave200.jpg");
}

#img3{
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  background-image: url("../siteArt/Spin200.jpg");
}

.responsive-layer{
  margin-top: 100px;
}

.jumbotron{
  background-color:#EBEAEE;
  height: 650px;
}

.blurb{
   text-align: center;
   padding-top: 100px;
}

.btn_position{
  margin: 0 auto;
  width: 230px;
  margin-top: 100px;
  font-size: 9px;
}

.row{
    text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #e00007;
}
.btn-primary.raised:active, .btn-primary1.raised.active {
    background: #ff5a5f;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.Copyright {
  position: relative;
  top: 200px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  color: black
}

