@font-face { font-family: Circular; src: url('../CircularStd-Book.otf'); }
body{
  font-family: Circular;
}

.background-gif {
  position: absolute;
  top: 3vh;
  width: 1150px;
  height: 100vh;
  z-index: -1;
  min-width: 100vw;
  opacity: 0.4;
}

.image{
  position: relative;
  margin: auto;
  height: 150px;
  width: 150px;
  background-color: #ffcc5c;
}

#img1{
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  background-image: url("../siteArt/spool200.svg");
}

#img2{
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  background-image: url("../siteArt/Weave.svg");
}

#img3{
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  background-image: url("../siteArt/spin200.svg");
}

.container {
  margin-top: 0px;
}
.jumbotron{
  background-color: transparent;
  height: auto;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px 0px 0px;
  margin: 0px;
}
.blurb{
   text-align: center;
}
.blurb h1 {
  /*font-size: 70px;*/
  font-size: 55px;
}
.blurb > * {
  font-weight: bold;
}
.blurb > p {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}
.blurb > .not-just {
  font-size: 17px;
  margin-top: 16px;
  margin-bottom: 9px;
}
.blurb > .description {
  margin-top: 35px;
}
.btn_position {
  margin: 40px auto;
  margin-bottom: 50px;
  font-size: 9px;
  width: auto;
  text-align: center;
}
.btn_position > * {
  display: inline-block;
}
.home-action {
  font-size: 22px;
}

.row{
    text-align: center;
}

.panel-body {
  max-width: 330px;
  padding-top: 0px;
  margin-right: auto;
  margin-left: auto;
}
.panel-body > h3 {
  margin-top: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #e00007;
}
.btn-primary.raised:active, .btn-primary1.raised.active {
    background: #ff5a5f;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.made-by {
  font-size: 12px;
  text-align: center;
  margin: 50px auto 15px auto;
  color: lightgray;
}

