@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@font-face { font-family: Circular; src: url('../CircularStd-Book.otf'); } 
body{
  font-family: Circular;
}

* {
	margin: 0;
	padding: 0;
}


.leftside{
	position: relative;
	width: 35%;
	height:900px;
	background-color: #E9EAED;
	margin-left: 0;
}

.accInfo{
	position: relative;
	top: 370px;
	margin: 9%;
}
.accInfo h1 {
	font-size: 2em;
}
.accInfo ul{
	list-style-type: none;
}
.accInfo li {
	font-size:1.5em;
}
/*-- Tabs --*/
.tabs {
	position: relative;
	width: 60%;
	display: inline-block;
	margin-left: 55%;
	top: -800px;
	resize:both;

}
/*-- Tab Links --*/
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}
.tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:1.2em;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
        text-decoration: none;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
